---
import { Picture } from "astro:assets";
interface Props {
  imgUrl: ImageMetadata;
  title: string;
  description: string;
  link: string;
}

const { imgUrl, title, description, link } = Astro.props;
---

<div
  class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
  <div
    class="relative bg-clip-border rounded-xl overflow-hidden bg-white text-gray-700 shadow-lg mx-0 mt-0 mb-8 h-56">
    <a href={link} target="_blank">
      <Picture
        class="animate__animated animate__backInLeft cursor-pointer"
        src={imgUrl}
        alt="Astronaut in the air"
        widths={[800, 500, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="lazy"
        format="png"
      />
    </a>
  </div>

  <div class="p-0">
    <a
      href={link}
      target="_blank"
      class="grid grid-cols-6 items-baseline gap-2 text-blue-gray-900 transition-colors hover:text-blue-500">
      <div class="col-span-5">
        <h4
          class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-inherit normal-case">
          {title}
        </h4>
      </div>
    </a>

    <p
      class="block antialiased font-sans text-base leading-relaxed text-gray-700 mb-6 font-normal">
      {description}
    </p>

    <a href={link} target="_blank">
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg text-dark flex items-center"
        type="button">
        Visitar pagina
        <svg
          class="ml-2"
          width="15"
          height="8"
          viewBox="0 0 15 8"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.8314 0.306358C11.4483 -0.0914636 10.8153 -0.103408 10.4175 0.27968C10.0196 0.662768 10.0077 1.29582 10.3908 1.69364L11.8314 0.306358ZM13.2797 4.69364C13.6628 5.09146 14.2958 5.10341 14.6936 4.72032C15.0915 4.33723 15.1034 3.70418 14.7203 3.30636L13.2797 4.69364ZM14.7203 4.69364C15.1034 4.29582 15.0915 3.66277 14.6936 3.27968C14.2958 2.89659 13.6628 2.90854 13.2797 3.30636L14.7203 4.69364ZM10.3908 6.30636C10.0077 6.70418 10.0196 7.33723 10.4175 7.72032C10.8153 8.10341 11.4483 8.09146 11.8314 7.69364L10.3908 6.30636ZM14 5C14.5523 5 15 4.55228 15 4C15 3.44772 14.5523 3 14 3V5ZM1 3C0.447715 3 0 3.44772 0 4C0 4.55228 0.447715 5 1 5V3ZM10.3908 1.69364L13.2797 4.69364L14.7203 3.30636L11.8314 0.306358L10.3908 1.69364ZM13.2797 3.30636L10.3908 6.30636L11.8314 7.69364L14.7203 4.69364L13.2797 3.30636ZM14 3H1V5H14V3Z"
            fill="#111827"></path></svg
        >
      </button>
    </a>
  </div>
</div>
